<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>

  <ion-toolbar class="SearchBar">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let p of productPages; let i = index">
    <ion-item (click)="selectedIndex = i" routerDirection="forward" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
      <div class="ImageContainer">
        <ion-img [src]="[p.image]"></ion-img>
        <ion-label class="ImageLabel">{{p.title}}</ion-label> 
      </div>  
    </ion-item>
  </ion-list>
</ion-content>
