<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let p of productCategories; let i = index">
    <ion-item (click)="selectedIndex = i" routerDirection="forward" [routerLink]="[p.path]" lines="none" detail="false" [class.selected]="selectedIndex == i">
      <div class="ImageContainer">
        <ion-img [src]="[p.titleImageURL]"></ion-img>
        <ion-label class="ImageLabel">{{p.name}}</ion-label> 
      </div>  
    </ion-item> 
  </ion-list>
</ion-content>
