<ion-content padding>
  <ion-label class="TitleLabel">Forgot Password?</ion-label>
  <ion-label class="DescriptionLabel">Enter your email to reset password</ion-label>

  <form>
    <ion-item>
      <ion-input type="email" placeHolder="Registered Email" [(ngModel)]="registeredEmail" name="registeredEmail" required></ion-input>
    </ion-item>
  </form>

  <ion-button class="SendRecoveryLinkButton" color="dark" expand="block" shape="" fill="solid" (click)="sendPasswordResetEmail()">Send Recovery Link</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-button class="BackToSignInButton" color="dark" fill="clear" (click)="navigateToSignInPage()">Back to Sign In</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>