.InputField {
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 13px;
    margin: 15px 25px 0px;
}

ion-input {
    height: 45px;
}

.TipImage {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid grey; 
}

ion-thumbnail {
    --size: 100px;
}

