ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-list-header {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

ion-note {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 20px;
}

ion-menu.ion-item.selected ion-icon {
    color: var(--ion-color-dark);
}
  

ion-item.selected {
    --color: var(--ion-color-dark);
    --background: rgba(var(--ion-color-dark-rgb), 0.14);
}