ion-list-header {
    font-weight: 600;
    font-size: 22px;
}

ion-button {
    text-transform: none;
    font-weight: 400;
    --background-hover: transparent;
}

.placeOrderButton {
    margin: 50px 25px 30px;
    height: 40px;
    font-size: 15px;
}

