<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="beauty-tips">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Beauty Tips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>