ion-label {
    display: block;
}

.TitleLabel {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
}

.TimeLabel {
    font-size: 10px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 3px;
}

.DescriptionLabel {
    font-size: 12px;
    margin-top: 15px;
}

.ViewButton {
    float: right;
    font-size: 10px;
    color: grey;
}

ion-button {
    text-transform: none;
    font-weight: 400;
    --background-hover: transparent;
}

